body {
  overflow-x: hidden;
  background: $c-1;
  font-family: $font-serif-text;
  font-size: 2rem;

  /* Better Font Rendering =========== */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6, ol, li {

}

a {
  text-decoration: none;
}

main {
  position: relative;
  box-sizing:border-box;
  height:100vh;

  @include respond-until($screen-sm) {
    height:100%;
    min-height:100vh;
  }
}
