$weight-light: 100;

// Fonts
$font-benton: 'Benton', 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
$font-capitolium-head: 'Capitolium Head', 'TimesNewRoman', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', 'serif';
$font-capitolium-news: 'Capitolium News', 'TimesNewRoman', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', 'serif';
$font-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif-text: $font-capitolium-news;
$font-serif-header: $font-capitolium-head;
$font-sansserif: $font-benton;

//to add a custom font, uncomment:


//$customFontName: 'CustomFontName';
//$font-custom: $customFontName , Helvetica, Arial, sans-serif;



$benton-font: (
                (Light, $weight-light, normal),
                (Book, normal, normal),
                (Italic, normal, italic),
                (Bold, bold, normal),
                (BoldItalic, bold, italic)
);

$capitolium-head-font: (
                (Bold, bold, normal),
                (Light, $weight-light, normal),
                (Reg, normal, normal)
);

$capitolium-head-font: (
                (Bold, bold, normal),
                (Light, $weight-light, normal),
                (Reg, normal, normal)
);

$capitolium-news-font: (
                (Bold, bold, normal),
                (BoldItalic, bold, italic),
                (Italic, normal, italic),
                (Reg, normal, normal)
);

$font-dir: '../fonts/';

//to add a custom font, uncomment:


//@font-face {
//  font-family: $font-custom;
//  font-weight: normal;
//  font-style: normal;
//  src: url('#{$font-dir}#{$font-custom}.woff2') format('woff2'),
//  url('#{$font-dir}#{$font-custom}.woff') format('woff');
//}



@each $id, $weight, $style in $benton-font {
  @font-face {
    font-family: 'Benton';
    font-weight: $weight;
    font-style: $style;
    src: url('#{$font-dir}BentonSans#{$id}.woff2') format('woff2'),
    url('#{$font-dir}BentonSans#{$id}.woff') format('woff');
  }
}

@each $id, $weight, $style in $capitolium-head-font {
  @font-face {
    font-family: 'Capitolium Head';
    font-weight: $weight;
    font-style: $style;
    src: url('#{$font-dir}CapitoliumHead#{$id}.woff2') format('woff2'),
    url('#{$font-dir}CapitoliumHead#{$id}.woff') format('woff');
  }
}

@each $id, $weight, $style in $capitolium-news-font {
  @font-face {
    font-family: 'Capitolium News';
    font-weight: $weight;
    font-style: $style;
    src: url('#{$font-dir}CapitoliumNews#{$id}.woff2') format('woff2'),
    url('#{$font-dir}CapitoliumNews#{$id}.woff') format('woff');
  }
}
