// Project-specific footer scss

$footer-bg: $black;
$footer-color: $white;

footer {
    color: $footer-color;
    background-color: $footer-bg;

    p, .footer-subscribe p, .subscribe-link, .socials p {
        color: $footer-color
    }

    svg {
        path {
            fill: $footer-color;
            stroke: $footer-color
        }
    }
}
