header {
  @include wh(100vw, auto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  > * {
    max-width: 600px;
    padding: #{0.5 * $spacing};
  }

  a.header-logo {
    .logotop {
      @include wh(100%, auto);
      max-width: 300px;
      padding-bottom: #{2 * $spacing};
      @include respond-until($screen-sm) {
        padding-bottom: 1rem;
        max-width:200px;
      }
    }
  }
}
