//base colors
$white: #fff;
$black: #000;
$lightgrey: #F0F0F0;
$grey: #c9c9c9;


$c-1: #FFF5EB;
$c-2: $black;
$c-3: #EDEBE7;
$c-4: #FAFF31;
$c-5: #2747af;
$c-6: #DBC6C6;

$spacing: 3rem;

$valenski-font-size-base: 11px;
$valenski-font-size-small: 9px; // Used for setting up rems on mobile / small screens


$content-width: 80rem;
$max-width: 110rem;
