.vk-button {
    @include wh(160px, 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    padding: 10px 30px;
    margin: 20px;
    border: 2px solid $black;
    border-radius: 2px;

    color: $black;
    text-decoration: none;
    user-select: none;

    font-family: $font-benton;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;

    cursor: pointer;

    transition: all 0.3s ease;

    &::after {
        content: "";
        position: absolute;

        bottom: -3px;
        left: 10%;
        @include wh(80%, 4px);
        background: $black;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}
